##this is an example deployment.yaml that should be customized in order to meet the configuration for app k8s deployment

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Values.service.name }}
  labels:
    chart: "{{ .Chart.Name | trunc 63 }}"
    chartVersion: "{{ .Chart.Version | trunc 63 }}"
    visualize: "true"
    app: {{ .Values.service.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.service.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.service.name }}
        visualize: "true"
    spec:
      containers:
      - name: {{ .Values.service.name }}
        image: "{{ .Values.image.repository }}:{{ .Chart.Version }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: APP_PORT
          value: "8080"
        - name: APP_NAME
          value: {{ .Values.service.name }}
        - name: APP_SYSTEM_CODE
          value: {{ .Values.service.name }}
        - name: BUSINESS_IMPACT
          value: {{ .Values.env.BUSINESS_IMPACT }}
        - name: TRANSFORM_APP_URI
          value: {{ .Values.env.TRANSFORM_APP_URI }}
        - name: TRANSFORM_APP_HEALTH_URI
          value: {{ .Values.env.TRANSFORM_APP_HEALTH_URI }}
        - name: TRANSFORM_APP_NAME
          value: {{ .Values.env.TRANSFORM_APP_NAME }}
        - name: TRANSFORM_APP_PANIC_GUIDE
          value: {{ .Values.env.TRANSFORM_APP_PANIC_GUIDE }}
        - name: GRAPHITE_TCP_ADDRESS
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: graphite.address
        - name: GRAPHITE_PREFIX
          value: coco.services.k8s.{{ .Values.service.name }}
        - name: SOURCE_APP_NAME
          value: methode-api
        - name: SOURCE_APP_URI
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: methode.api_uri
        - name: SOURCE_APP_HEALTH_URI
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: methode.health_uri
        - name: SOURCE_APP_AUTH
          valueFrom:
            secretKeyRef:
              name: global-secrets
              key: methode.authorization_key
        - name: SOURCE_APP_PANIC_GUIDE
          value: https://dewey.ft.com/up-mapi.html
        ports:
        - containerPort: 8080
        - containerPort: 8081
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: "/__gtg"
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 3
        resources:
{{ toYaml .Values.resources | indent 12 }}
